
#titre{
  color: #00B7FF;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

#mon_canvas{
  z-index: 50;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}


#mon_canva.fade {
  z-index: 50;
  opacity: 0;
  transition: all 0.75s ease-in-out;
}


#green{
  z-index: 150;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}

#red{
  z-index: 150;
  opacity: 1;
  transition: all 0.75s ease-in-out;
}



#conteneur{
    display: flex;
}

#surfaceCanvas{
    width: 70%;
}

#surfaceActions{
    width: 30%;
}

body {
  background: navy !important; 
}

#redLight {
  width: 5px;
  height: 5px;
  background: url(./../image/lightred.png) ;
}

#greenLight {
  width: 20px;
  height: 20px;
  background : url(./../image/lightgreen.png);
  background-color: black;
}


#carBas {
}

#carHaut {
}

#carDroite {
}

#carGauche {
}