doctype html
html
  body
    #titre Simulateur de traffic routier

    #conteneur
      #surfaceCanvas
        canvas#mon_canvas(width='1000', height='1000')
          div(style='display:none;')
            img#event(src='./image/event.png', width='100', height='100')
            img#green(src='./image/lightgreen.png', width='100', height='100')
            img#red(src='./image/lightred.png', width='100', height='100')
            img#carBas(src='./image/carBas.png', width='100', height='100')
            img#carHaut(src='./image/carHaut.png', width='100', height='100')
            img#carDroite(src='./image/carDroite.png', width='100', height='100')
            img#carGauche(src='./image/carGauche.png', width='100', height='100')
      #surfaceActions
        button.btn.btn-primary(type='button' onclick='PopCars()' ) Pop Cars
        br
        br
        button.btn.btn-primary(type='button' onclick='runAnimation()') Run Simulation
        br
        br
        button.btn.btn-primary(type='button' onclick='AddStreet()') Add Street
        br
        br
        button.btn.btn-primary(type='button' onclick='RemoveStreet()') Remove Street
        br
        br
        select#selectModel
          option(value='Nice Est') Nice Est
          option(value='Nice Ouest') Nice Ouest
        br
        br
        button.btn.btn-primary(type='button' onclick='ChangeModel()') Change Map
        br
        br
        form(target='_blank' action='http://localhost:3001/stats' method='get')
          input(type='submit', value='View Simulation Stats')

  head
    link(rel='stylesheet', type='text/css', href='/stylesheets/main.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='utils/utils.js')
    script(src='model/Nice.js')
    script(src='model/Nice2.js')
    script(src='js/map.js')
    script(src='js/event.js')
    script(src='js/voiture.js')
    script(src='js/light.js')
    script(src='js/main.js')
    script(src='js/GlobalVariables.js')
    title Traffic Control V2
